.checkbox
	label.checkbox__label 
		input.checkbox__input--hidden(type="checkbox" name="light" value="yes")
		.checkbox__input
		| Есть 
	label.checkbox__label Нет
		input.checkbox__input--hidden(type="checkbox" name="light" value="no")
		.checkbox__input