.accordion-container
	.ac
		h2.ac-header
			button(type="button").ac-trigger Lorem ipsum dolor sit amet.
		.ac-panel
			p.ac-text Lorem ipsum dolor sit amet, consectetur adipiscing elit.
	.ac
		h2.ac-header
			button(type="button").ac-trigger Lorem ipsum dolor sit amet.
		.ac-panel
			p.ac-text Lorem ipsum dolor sit amet, consectetur adipiscing elit.
	.ac
		h2.ac-header
			button(type="button").ac-trigger Lorem ipsum dolor sit amet.
		.ac-panel
			p.ac-text Lorem ipsum dolor sit amet, consectetur adipiscing elit.
