// Просто передать .price-filter__range в инициализацию
.price-filter
	.price-filter__inputs
		label.price-filter__label От
			input.price-filter__input.price-filter__input--from(type="number" step="500" min="5000" max="30000")
		label.price-filter__label До
			input.price-filter__input.price-filter__input--to(	type="number" step="500" min="5000" max="30000")
	.price-filter__range 